<nav id="navigationBar">
  <div class="flex justify-between items-center mx-4">
    <a href=""><img src = "assets/logo.png" alt="logo" class = "object-fill h-15 w-48"> </a>
    
    <div class="flex-grow flex justify-center m-2">
      <input type="text" placeholder="Search Anime.." class="w-full max-w-xs outline-double pl-2">
    </div>
    
    <ul class="flex space-x-4">
      <li><a href="about">About</a></li>
      <li><a href="browse">Browse</a></li>
      <li><a href="4.html">Sign In</a></li>
    </ul>
  </div>
  
  </nav>
    