<div class="flex flex-row space-x-5 justify-center m-5">
    <a href="/browse" [class.font-bold]="sort === undefined">All Anime</a>
    <a href="/browse/bySpecials/1" [class.font-bold]="sort === 'bySpecials'">Top Specials</a>
    <a href="/browse/byONAs/1" [class.font-bold]="sort === 'byONAs'">Top ONAs</a>
    <a href="/browse/byOVAs/1" [class.font-bold]="sort === 'byOVAs'">Top OVAs</a>
    <a href="/browse/byMovies/1" [class.font-bold]="sort === 'byMovies'">Top Movies</a>
    <a href="/browse/byTvSeries/1" [class.font-bold]="sort === 'byTvSeries'">Top TV Series</a>
    <a href="/browse/byPopularity/1" [class.font-bold]="sort === 'byPopularity'">Most Popular</a>
</div>

